@use "../abstracts/" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: inherit;
  font-family: $primary-font;

  // border: 1px solid gray;
  // overflow-x: hidden;
}

body {
  box-sizing: border-box;
  background-color: $background-color;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

// buat page folder - include btn each
.btn {
  width: max-content;
  display: inline-block;
  font-size: 1.6rem;
  padding: 1.4rem 3.2rem;
  border-radius: 0.8rem;
  background-color: $background-color;
  color: $primary-color;
  cursor: pointer;
  filter: drop-shadow(0 10px 50px rgba(1, 13, 130, 0.12));
  transition: $transition;
  &:hover {
    color: $primary-color;
    background-color: $primary-variant-color;
  }
  &--primary {
    background-color: $primary-color;
    color: $white;
  }
  &--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    .icon {
      width: auto;
    }
  }

  // MEDIA-QUERIES
  @include display(phone) {
    padding: 1rem 2rem;
  }
  @include display(sm-phone) {
    font-size: 1.2rem;
    &--icon {
      .icon {
        display: none;
      }
    }
  }
}
