@use "../abstracts/" as *;

.header {
  // border: 1px solid #000;
  @extend %section;
  margin-top: 7rem;
  &__container {
    @extend %container;
    display: grid;
    gap: 2rem;
    grid-template-columns: 40% 60%;
  }
  &__content {
    // border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

    &-cta {
      display: flex;
      gap: 2.6rem;
    }
  }
  &__video {
    // border: 1px solid #000;
    img {
    }
  }

  // MEDIA-QUERIES
  @include display(tab-port) {
    &__container {
      grid-template-columns: 1fr;
      gap: 3rem;
    }
  }
  @include display(phone) {
    &__content {
      &-cta {
        gap: 1.6rem;
      }
    }
  }
}
