@use "../abstracts/" as *;

.pricing {
  &__container {
    .pricing__classes-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3.8rem;
      margin-top: 12.2rem;
    }
  }
  &__plan {
    @extend %shadow;
    background-color: $background-color;
    border-radius: 2rem;
    padding: 4.6rem;
    padding-bottom: 12.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .pricing-header {
      min-height: 11.5rem;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      align-items: center;
    }
    &-name {
      font-size: 2.2rem;
    }
    &-price {
      font-size: 3.2rem;
      margin-bottom: -1rem;
    }
    &-info {
      font-size: 1.4rem;
      text-align: center;
    }
    .divider {
      height: 1px;
      width: 100%;
      background-color: lightgray;
      margin-top: 2.3rem;
      margin-bottom: 3.3rem;
    }
    &-list {
      margin-bottom: 2.2rem;
      p {
        display: inline-block;
        padding-left: 0.8rem;
        font-size: 1.4rem;
        color: $primary-color;
        position: relative;
        transform: translateY(-0.6rem);
      }
    }

    &--promo {
      transform: translateY(-5rem);
      background-color: $primary-color;
      .divider {
        background-color: $text-main-color;
      }
      .pricing__plan-name,
      .pricing__plan-price,
      .pricing__plan-info,
      .pricing__plan-benefit {
        color: $white;
      }
    }
  }

  // MEDIA-QUERIES
  @include display(tab-land) {
    &__container {
      .pricing__classes-container {
        grid-template-columns: 1fr 1fr;

        gap: 3.8rem;
        max-width: fit-content;
        margin: 0 auto;
        margin-top: 4.2rem;
      }
    }
    &__plan {
      .pricing-header {
        max-width: 30.5rem;
      }
      &--promo {
        transform: translateY(0);
      }
    }
  }
  @include display(lg-phone) {
    &__container {
      .pricing__classes-container {
        grid-template-columns: 1fr;
      }
    }
  }
  @include display(sm-phone) {
    &__plan {
      .divider {
        margin-bottom: 2.3rem;
      }
      &-list {
        margin-bottom: 0;
        text-align: center;
        .list-icon {
          display: none !important;
        }
        p {
          display: block;
        }
      }
    }
  }
}
