@use "../abstracts/" as *;

.testimonials {
  &__container {
    display: grid;
    gap: 2.4rem;
  }
  .testimonial {
    // @extend %shadow;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: 30% 60%;
    gap: 10%;
    background-color: $white;
    padding: 2.4rem;
    cursor: default;

    &__image {
      background-color: $primary-variant-color;
      border-radius: 2rem;
      overflow: hidden;

      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: $width-lg;
      &-name {
        font-size: 1.6rem;
        margin-top: 1.6rem;
      }
      &-testimony {
        line-height: 175%;
      }
    }
  }
  // MEDIA-QUERIES
  @include display(tab-land) {
    .testimonial {
      grid-template-columns: 32% 62%;
      gap: 6%;
      align-items: center;
      min-height: 22rem;

      &__image {
        aspect-ratio: 1/1;
      }
      &__content {
        max-width: 100%;
        &-testimony {
          font-size: 1.5rem;
        }
      }
    }
  }
  @include display(phone) {
    .testimonial {
      // grid-template-columns: 1fr;
      // gap: 1rem;

      display: flex;
      flex-direction: column;
      gap: 3.3rem;

      // place-items: center;

      // justify-items: center;
      // align-items: start;

      text-align: center;
      max-height: 27rem;
      &__image {
        width: 77px;
        border-radius: 50%;
      }
      &__content {
        &-name {
          order: 0;
          margin-top: 0;
        }
        &-testimony {
          order: 2;
          font-size: 1.4rem;
          margin-top: 1rem;
        }
      }
    }
  }
  @include display(phone) {
    .testimonial {
      min-height: 35rem;
    }
  }
}
