@use "./variables" as *;
@use "./mixins" as *;

%section {
  // min-height: 100vh;
  min-height: auto;
  &:nth-child(4) {
    background-color: $white; // note: header is not a sibling
  }

  // MEDIA-QUERIES
  @include display(tab-port) {
    // min-height: auto;
  }
  @include display(phone) {
  }
}

%container {
  // border: 1px solid #000;
  max-width: $width-lg;
  margin: 0 auto;
  & > h2 {
    margin-bottom: 2.6rem;
  }
  & > h3 {
    margin-bottom: 2rem;
  }
  // MEDIA-QUERIES
  @include display(tab-port) {
    max-width: $width-md;
  }
  @include display(phone) {
    max-width: $width-sm;
  }
}
