/* === COLORS === */
$background-color: #f8fbfe;
$background-variant-color: #dfe1fe;
$primary-color: #010d82;
$primary-variant-color: #51c9ff;
$text-main-color: #84879e;
$text-video-color: rgba(0, 0, 0, 0.7);
$white: #fff;
$black: #000;
$orange-color: #ffc46b;
$light-blue-color: #def5ff;
$very-light-blue-color: #f2f7fb;
$red-tomatoish-color: #f87f81;
$cyan-color: #9affed;
$gray-border-color: #ededed;
$gray-logo-color: #f1f2ff;
$orange-color: #ffdba5;
$yellow-color: #fcff8d;
$theme-colors: (
  "primary": $primary-color,
);

/* === FONTS === */
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
$font-weights: (
  "light-italic": 300,
  "regular": 400,
  "medium": 500,
  "semi-bold": 600,
  "bold": 700,
);
$primary-font: "Poppins", sans-serif;

/* === CONTAINERS === */
$width-lg: 75%;
$width-md: 86%;
$width-sm: 90%;

/* === TRAANSITIONS === */
$transition: 0.3s all ease;
