@use "../abstracts/" as *;

main {
  margin: 0 auto;
  display: grid;
  gap: 7rem;

  // MEDIA-QUERIES
  @include display(tab-port) {
    // gap: 4rem;
  }
  @include display(phone) {
  }
}

section {
  @extend %section;
}

section .container {
  @extend %container;
}
